Automat==22.10.0
Django==4.2.1
Pillow==9.5.0
PyJWT==2.6.0
PyYAML==6.0
Twisted==22.10.0
asgiref==3.7.2
async-timeout==4.0.2
attrs==22.2.0
autobahn==23.1.2
certifi==2022.12.7
cffi==1.15.1
channels-redis==4.1.0
channels==4.0.0
charset-normalizer==3.1.0
constantly==15.1.0
coverage==7.2.5
cryptography==40.0.2
daphne==4.0.0
defusedxml==0.7.1
dj-rest-auth==3.0.0
django-allauth==0.54.0
django-cors-headers==4.0.0
django-csp==3.7
django-default-language==0.0.1
django-nose==1.4.7
django-phonenumber-field==7.1.0
django-random-id-model==0.1.1
django-rename-app==0.1.6
django-rest-framework==0.1.0
djangorestframework-simplejwt==5.2.2
djangorestframework==3.14.0
dotenv-cli==3.1.1
drf-spectacular==0.26.2
greenlet==1.1.3.post0
hyperlink==21.0.0
idna==3.4
incremental==22.10.0
inflection==0.5.1
jsonschema==4.17.3
msgpack==1.0.5
nose==1.3.7
oauthlib==3.2.2
phonenumbers==8.13.11
pip==23.1.2
psycopg==3.1.9
psycopgbinary==0.0.1
pyOpenSSL==23.1.1
pyasn1-modules==0.3.0
pyasn1==0.5.0
pycparser==2.21
pynvim==0.4.3
pyrsistent==0.19.3
python-dotenv==1.0.0
python3-openid==3.2.0
pytz==2023.3
redis==4.5.5
requests-oauthlib==1.3.1
requests==2.29.0
service-identity==21.1.0
setuptools==65.6.3
six==1.16.0
sqlparse==0.4.4
txaio==23.1.1
typing_extensions==4.5.0
uritemplate==4.1.1
urllib3==1.26.15
wheel==0.40.0
zope.interface==6.0