/* General Styles */

/* Reset default margin, padding, and border for all elements */
* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

/* Define font and font size for the whole document */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

/* Button Styles */

/* Style for all buttons */
button {
  min-width: 150px;
  max-width: 250px;
  height: 40px;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  background-color: #1D1D1D;
  color: white;
  border: transparent;
}

/* Style for buttons when hovering */
button:hover {
  min-width: 150px;
  max-width: 250px;
  height: 40px;
  border: solid #1D1D1D 1px;
  color: #1D1D1D;
  background-color: transparent;
  transition: ease-in 0.2s;
}

/* Link Styles */

/* Style for all links */
a {
  color: dodgerblue;
  text-decoration: none;
}

/* Style for links when hovering */
a:hover {
  text-decoration: underline;
}

/* Input Styles */

/* Style for all inputs */
input {
  min-width: 250px;
  max-width: 350px;
  height: 40px;
  background-color: #E8F0FC;
  overflow: hidden;
  padding: 10px 5px;
  margin: 5px;
  border: solid #1D1D1D 1px;
  border-radius: 5px;
  font-size: 14px;
}

input:focus {
  border: none;
  outline: none;
  box-shadow: 0 0 0 0.1rem lightgray;
}

/* Icon Styles */

/* Style for all icons */
.icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: 100%;
}
