/* General Styles */

/* Reset default margin, padding, and border for all elements */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* Define font and font size for the whole document */
body {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
}

/* Button Styles */

/* Style for all buttons */
Button, button {
    height: 50px;
    width: 150px;
    margin: 5px;
    outline: 0;
    cursor: pointer;
    border: 2px solid #000;
    border-radius: 5px;
    color: #fff;
    background: #000;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    padding: 5px 10px;
    text-align: center;
    transition: ease-in 0.2s;
}

/* Style for buttons when hovering */
Button:hover, button:hover {
    color: #000;
    background: rgb(255, 218, 87);
}

/* Link Styles *!

/* Style for all links */
a {
    color: inherit;
    text-decoration: none;
}

/* Style for links when hovering */
a:hover {
    text-decoration: underline;
}

/* Input Styles */

/* Style for all inputs */
input {
    min-width: 250px;
    max-width: 350px;
    height: 40px;
    background-color: #E8F0FC;
    overflow: hidden;
    padding: 10px 5px;
    margin: 5px;
    border: solid #1D1D1D 1px;
    border-radius: 5px;
    font-size: 14px;
}

input:focus {
    border: none;
    outline: none;
    box-shadow: 0 0 0 0.1rem lightgray;
}

@media (prefers-color-scheme: light) {
    html {
        color-scheme: light;
    }
}

.rbc-time-view .rbc-label {
    display: none !important;
}

.rbc-time-view .rbc-allday-cell {
    min-height: calc(90vh) !important;
    max-height: unset !important;
}

.rbc-allday-cell {
    white-space: normal;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

/* Style for all icons */
.icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: 100%;
}

.rbc-time-view .rbc-time-content {
    display: none !important;
}

.rbc-time-view .rbc-time-slot {
    height: 30px !important;
}

.clickable {
    cursor: pointer;
}
