
.filler_image {
    object-fit: contain
}


.input:focus {
  box-shadow: 0 0 0 0.1rem lightgray;
}

.button {
    max-width: 350px;
    border-radius: 5px;
    background-color: #1D1D1D;
    color: white;
}

.button:hover {
    max-width: 350px;
    border-radius: 5px;
    background-color: transparent;
    color: #1D1D1D;
    transition: ease-in 0.2s;
}
