.title {
    text-align: center;
    margin-top: 100px;
    font: 56px Helvetica, sans-serif;
    font-weight: bold;
}

.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text{
    margin-left: 60px;
    margin-top: 20px;
    margin-bottom: 10px;
    font: 16px Helvetica, sans-serif;
}